<div class="nav"> 
 <ul> 
  <li><a class="my" href="{{ site.baseurl }}/index.html">{{ site.name }}</a></li> 
  <li><a href="{{ site.baseurl }}/note">待办</a></li> 
  <li><a href="{{ site.baseurl }}/resource">资源</a></li> 
  <li><a href="{{ site.baseurl }}/link">书签</a></li> 
  <li><a href="{{ site.baseurl }}/about">关于</a></li> 
  <li><a target="_blank" href="{{ site.baseurl }}/rss/index.xml">RSS</a></li> 
  <input type="text" placeholder="搜索..">
  <li class="link_github"><a target='_blank' href="http://github.com/{{ site.github }}/{{ site.project }}">GitHub</a></li>
 </ul> 
</div>
